/* шахтар */
.lkk{
width:400px;
height:250px;	
}
/* тирамісу */
.lp{
	width:400px;
	height:250px
}
/* млинці */
.pl{
	width:400px;
	height:250px;
}
/* сирні кульки */
.jh{
	width:400px;
	height:250px
}
/* салат */
.po{
	width:400px;
	height:250px
}
/* ліс*/
.lk{
	width:400px;
	height:250px;
};
/* натисни  */
.a5g{
}
/* Модальне вікно */
.modal-wrapper{
	display:none; /* flex */
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(128, 128, 128, 0.9);
	justify-content:center;
	align-items:center;
	z-index:100;
}

.modal{
	width:80%;
	background-color:white;
	box-shadow: 4px 4px 7px 4px black;
	max-height:90%;
	overflow: auto;
}
.bn{
width:500px;
height:350px;
float:right;
}
.nmv{
	text-align:center;
}
.ku{
width:400px;
	height:250px	
}
.la{
	width:400px;
	height:250px
}
.ps{
	width:400px;
	height:250px
}





























































































































































